.hard-skills-container {
  width: 100%;
  display: inline-block;
  margin-top: 0.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: thin solid var(--white-color);
}

.hard-skills-ul {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  font-size: var(--step--3);
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 1.5rem;
  justify-content: center;
}

.hard-skills-ul li {
  font-size: var(--step--3);
  line-height: 1.4rem;
  position: relative;
  padding-left: 1rem;
}

.hard-skills-ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--white-color);
}
@media screen and (min-width: 500px) {
  .hard-skills-container {
    padding-bottom: 0;
    border-bottom: none;
  }

  .hard-skills-container h4 {
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .hard-skills-container {
    margin-right: 3rem;
  }

  .hard-skills-container h4 {
    margin-bottom: 1rem;
  }

  .hard-skills-ul {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
  }
}
