.presentacion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 1rem auto;
  gap: 1rem;
}
.presentacion-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--first-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.presentacion-info-datos {
  text-align: center;
}

.presentacion-info-datos h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: var(--step-1);
}

.presentacion-info-datos h2 {
  font-size: var(--step-0);
}

.presentacion-container hr {
  width: 80%;
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    var(--first-color),
    transparent
  );
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .presentacion-container {
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    background-color: var(--third-color);
  }

  .presentacion-container img {
    margin: 0;
  }

  .presentacion-info-datos h1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .presentacion-info-datos h2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
