/**** Custom Properties ****/

:root {
  --first-color: #1e88e5;
  --first-alpha75-color: #1e88e550;
  --second-color: #37474f;
  --third-color: #263238;
  --white-color: #fff;
  --step--3: clamp(0.85rem, 0.75rem + 0.1vw, 0.9rem);
  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
  --font: "raleway", "sans-serif";
  --box-shadow: 0.25rem 0.25rem 1rem rgba(58, 32, 32, 0.5);
  --text-color: #fff;
}

/**** Reset ****/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--white-color);
}

a:hover {
  opacity: 0.75;
  color: var(--first-color);
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--first-color);
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* Fin Reset */

.cv-container {
  width: 100vw;
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--first-color);
}

.cv-content {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--second-color);
  border: thin solid var(--white-color);
  box-shadow: var(--box-shadow);
}

/* .cv-content * {
  outline: 1px solid red;
} */

@media screen and (min-width: 768px) {
  .cv-container {
    padding: 1rem;
  }

  .cv-content {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 1rem;
    border-radius: 0.75rem;
    margin: auto;
    height: 600px;
  }
}
