.perfil-profesional-container {
  display: inline-block;
  margin: auto;
  border: thin solid var(--white-color);
  border-radius: 0.5rem;
  width: 100%;
}

.perfil-title {
  text-align: center;
  font-size: var(--step--1);
}

.perfil-text {
  text-align: center;
  font-size: var(--step--3);
  line-height: 1.4rem;
  margin: 0;
  padding: 0.5rem 0.4rem 0.75rem;
  border-bottom: thin solid var(--white-color);
}

.perfil-hardskills-wrapper {
  margin-top: 0.75rem;
}

@media screen and (min-width: 768px) {
  .perfil-text {
    font-size: var(--step--2);
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .perfil-profesional-container {
    padding: 1rem 1.5rem;
  }

  .perfil-title {
    font-size: var(--step--1);
  }

  .perfil-text {
    font-size: var(--step--2);
  }
}
