.perfil-profesional-container {
  width: 100%;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.perfil-title {
  text-align: center;
  font-size: var(--step-0);
  margin-bottom: 0.5rem;
  color: var(--first-color);
}

.perfil-text {
  text-align: center;
  font-size: var(--step--3);
  line-height: 1.6;
  margin: 0;
  padding: 0.75rem 0.75rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  opacity: 0.95;
}

.perfil-hardskills-wrapper {
  margin-top: 1rem;
  padding-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .perfil-text {
    font-size: var(--step--2);
    padding: 1rem 1.25rem;
  }

  .perfil-hardskills-wrapper {
    margin-top: 0;
    padding-top: 0;
  }
  .perfil-text {
    padding: 4px 0;
  }
  .perfil-title {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 1024px) {
  .perfil-title {
    font-size: var(--step-1);
    margin-bottom: 0.5rem;
  }

  .perfil-text {
    font-size: var(--step--2);
    padding: 0.75rem 0.75rem 1rem;
  }

  .perfil-hardskills-wrapper {
    margin-top: 1rem;
    padding-top: 0.5rem;
  }
}
